@import '../../var_styles.scss';

.rowBody{
  background: white;
  border-radius:20px;
  position: relative;
  &:hover {
      transition: all .2s ease-in-out;
      background: rgb(250, 250, 250);
      border-radius: 20px;
      cursor: pointer;
  }
}
.rowBar{
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  grid-gap: 20px;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  transition: all .1s ease-in-out;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(230, 230, 230);
  cursor: pointer;
}

.hideRowBar{
  transition: all .1s ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 30px;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.btnEdit{
  color: rgb(251, 182, 54);
}
.btnRemove {
  color: rgb(255, 103, 103);
}

.colBody{
  font-size: 18px;
  color: $baseTextColor;
  padding: 10px 15px;
  width: fit-content;
  position: relative;
}

.colContent {
  padding: 10px 15px;
  max-width: 180px;
  word-wrap: break-word;
}