@import "./var_styles.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: $mainFont;
}
.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(252, 252, 252);
}

.wrapperAuth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #ECECEC;
}

.formBlock{
    padding: 40px;
    background: white;
    border-radius: $borderBlockRadius;
    box-shadow: $blockShadow;
    .logo{
        text-align: center;
        >img {
            width: 250px;
        }
    }
    >form{
        margin-top: 70px;
    }
}

.titleForm{
    font-size: 20px;
    font-weight: 800;
    color: $boldTextColor;
}

.selectGroup{
    position: relative;
    width: 350px;
    margin: 20px 0;
    .selectInput{
        position: relative;
        display: flex;
        align-items: center;
        >input {
            width: 100%;
            padding: 15px 20px;
            font-weight: 600;
            font-size: 18px;
            border-radius: $borderBlockRadius;
            box-shadow: $blockShadow;
            outline: none;
            border: none;
        }
        .selectBtn {
            position: absolute;
            cursor: pointer;
            right: 20px;
            >img {
                transition: transform .2s ease-in-out;
            }
            .active {
                transition: transform .2s ease-in-out;
                transform: rotate(90deg);
            }
        }
    }
    .selectBlock{
        visibility: visible;
        opacity: 1;
        position: absolute;
        background: white;
        box-shadow: $blockShadow;
        border-radius: $borderBlockRadius;
        transition: all .2s ease-in-out;
        width: 100%;
        top: 120%;
        padding: 20px 15px;
    }

    .selectBlockHide{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: white;
        box-shadow: $blockShadow;
        border-radius: $borderBlockRadius;
        transition: all .2s ease-in-out;
        width: 100%;
        top: 80%;
        padding: 20px 15px;
    }

    .selectList {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

}

.listInputs{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.inputGroup{
    width: 530px;
    >input {
        width: 100%;
        padding: 20px 25px;
        border-radius: $borderBlockRadius;
        box-shadow: $blockShadow;
        font-weight: 600;
        font-size: 18px;
        outline: none;
        border: none;
    }
}

.btnSend{
    background: $activeButtonColor;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    padding: 16px 20px;
    margin-top: 60px;
    outline: none;
    border: none;
}


.container {
    width: 1400px;
    margin: 0 auto;
}

.main{
    margin: 60px 0;
    flex-grow: 1;
    .mainBlock{
        display: flex;
        justify-content: space-between;
    }
    
    .tasksList{
        display: flex;
        justify-content: center;
        width: 400px;
        height: 470px;
        background: rgb(255, 255, 255);
        border-radius: $borderBlockRadius;
        box-shadow: $blockShadow;
        .emptyBlock{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        .emptyText{
            font-size: 30px;
            font-weight: 700;
            color: $boldTextColor;
            text-align: center;
            max-width: 250px;
            margin-top: 10px;
        }
    }
}

