$baseTextColor: rgba(0, 0, 0, 0.6);
$activeTextColor: #FF3737;
$boldTextColor: rgba(0, 0, 0, 0.7);
$borderBlockRadius: 20px;
$blockShadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
$activeButtonColor: linear-gradient(131.33deg, #FF4343 -3.53%, rgba(255, 119, 119, 0.83) 196.14%);