@import "../../var_styles.scss";

.listBlock {
  width: 100%;
  margin-left: 40px;

  .title{
    font-size: 25px;
    color: $boldTextColor
  }

  .tasklist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-gap: 30px;
  }
  
  .paginationBlock{
    margin-top: 30px;
    .pagList{
      display: flex;
      flex-direction: row;
      grid-gap: 10px;
    }
    
  }
  
}