@import "../../var_styles.scss";

.tableBlock {
    width: 100%;
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: $blockShadow;
    background: white;
    padding-bottom: 16px;
}

.table {
    text-decoration: none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    padding: 20px;
    
}

.tHead {
    border-bottom: 1px solid #81818125;
    .col-head {
        color: $boldTextColor;
        font-weight: 700;
        font-size:22px;
    }
    .col-content {
        padding: 15px 20px;
    }
}

.tBody {
    margin-top: 20px;
    
    
}